.content{
  padding: 0 48px;
  height: calc(100vh - 131px);
}
.actionIcon{
  cursor: pointer;
}
.actionIcon:hover{
  color: rgb(178, 211, 211);
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 86px;
  height: auto;
}

.headerText {
  color: whitesmoke;
  font-size: 20px;
  margin-left: 24px;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .logoImage {
    width: 60px;
  }

  .headerText {
    font-size: 16px;
    margin-left: 12px;
  }
}